<!DOCTYPE html>
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>

{% if continue_game == True %}
    <meta http-equiv="refresh" content="0.25" />
{% endif %}

<div class="margin-span">
    <span class="dev">
        <button class="but"><a href="{{ url_for('main') }}">Reset board</a></button>
        {% if continue_game == False %}
            <button class="but"><a href="{{ url_for('move') }}">Start the game</a></button>
        {% endif %}
        <span class="dev2">Score: {{ score }}</span>
    </span>
</div>

<p class="text" >{{ gameover }}</p>

<table> 
    {% for sublist in board %}
    <tr>
        {% for i in sublist %}
            {% if i == 0 %}
                <th class="zero">{{ i }}</th>
            {% elif i == 2 %}
                <th class="two">{{ i }}</th>
            {% elif i == 4 %}
                <th class="four">{{ i }}</th>
            {% elif i == 8 %}
                <th class="eight">{{ i }}</th>
            {% elif i == 16 %}
                <th class="sixteen">{{ i }}</th>
            {% elif i == 32 %}
                <th class="thirty-two">{{ i }}</th>
            {% elif i == 64 %}
                <th class="sixty-four">{{ i }}</th>
            {% elif i == 128 %}
                <th class="one-hundred-twenty-eight">{{ i }}</th>
            {% elif i == 256 %}
                <th class="two-hundred-fifty-six">{{ i }}</th>
            {% else %}
                <th class="four">{{ i }}</th>
            {% endif %}
        {% endfor %}
    <tr>
    {% endfor %}
</table>

<p class="text"><b>HOW TO PLAY:</b> Click "Start the game" and use your a, w, s, d keys to move the squares. Squares with the same number merge into one!</p>

</body>
</html>